<section class="content">
    <form method="GET" action="/search/index">
        <label for="search">Procurar Contato:</label>
        <input type="search" name="searchbar" class="search-input searchbar">
        <button class="btn-search">Buscar</button>
    </form>
</section>
