<%- include('./includes/header') %>
<%- include('./includes/nav') %>


<section class="section">
    <div class="content-headers">
        <h1>ERRO 404</h1>
        <p>Página não encontrada.</p> 
    </div>
</section>
          

<%- include('./includes/footer') %>
